html, body, #root, #root > .container{
  height: 100vh;
}

html, body, #root{
  margin: 0;
  padding: 0
}


.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.pointer, .not-allowed {
  user-select: none;
}

button {
  width: 100%;
}

.content ul {
  list-style: none
}

.transparent {
  color: transparent;
  background: transparent !important;
}

.no-margin {
  margin: 0 !important;
}

.notification {
  border-radius: 0;
}

.section {
  padding-bottom: 4em;
}

.section figure {
  margin: auto;
}
