body #root > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body #root > div > .container {
  flex: 1;
  margin: 0 0;
}

.footer {
  padding: 0.25em;
  text-align: center;
}

.footer-full {
  padding-top: 5em;
  padding-bottom: 1em;
}

.member-footer {
  background-color: transparent;
  padding-bottom: 2.5em;
}
