.member {
  position: relative;
  padding: 1.5em;
}

.member figure {
  margin: 0;
  position: absolute;
  top: -1.5em;
  left: -1.5em;
}

.member .box .content {
  padding: 0;
  margin: 0;
}

.member .box .content.name {
  padding-left: 3em;
  font-size: 1.1em;
}
.member .box .content.role {
  padding-left: 3.75em;
  font-size: 0.9em;
}
